.header {
    padding: 1.5rem 0 1rem;
    background-color: var(--dark-purple-100);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1.5px;
        width: 100%;
        max-width: 1140px;
        background-color: #4f4f5b;
    }

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        svg {
            stroke: var(--orange-100);

            line {
                stroke: var(--dark-purple-600);
            }
        }
    }
}
